/* colour properties need changing */
/* need to add background colour to the nav-btn for the current page */
/* need to make notes-btn a dropdown menu */

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1rem;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    margin-top: 0;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    border: none;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.h2 :hover {
    color: #c2c3c5;
}

.main-content {
    margin-left: 15em;
    margin-top: 6em;
    display: flex;
}


.header {
    position: fixed;
    height: 3em;
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.11em solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    background-color: white;
}

.side-bar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4em);
    width: 12em;
    position: fixed;
    margin-top: 4em;
    border-right: 0.11em solid black;
    background-color: white;
}
.side-nav {
    border-bottom: 0.05em solid rgb(0, 0, 0);
    padding: 0.75em 1em;
}

.side-notes {
    padding: 0.75em 1em;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-bottom: 0;
    flex: 1 1 auto;
}

.nav-btn {
    padding: 0.75em 1em;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.nav-btn :hover {
    color: #58c2ff;
}

.notes-btn {
    padding: 0.75em 0.75em 0.3em 0.75em;
    width: 100%;
    text-align: left;
    display: block;
    box-sizing: border-box;
    font-style: italic;
}

.notes-btn:hover {
    color: #c2c3c5;
    cursor: pointer;
}

.notes {
    display: block;
    box-sizing: border-box;
    margin-left: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 0.9rem;
}

.notes:hover {
    background-color: #f0f1f4;
    cursor: pointer;
}

.page-layout {
    display: flex;
}

#notification-btn,
#settings-btn {
    width: 1.9em;
    height: 1.9em;
    margin-right: 0.75em;
    border-radius: 50%;
    border: 0.1em solid #0000003a;
    padding: 0.15em;
    background-color: #f5f6f880;
}

#notification-btn:hover {
    background-color: #e5e5e9;
    cursor: pointer;
}

#settings-btn:hover {
    background-color: #e5e5e9;
    cursor: pointer;
}

#pfp-btn {
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    border: 0.1em solid #0000009a;
}

#pfp-btn:hover {
    border: 0.1em solid #00000033;
    cursor: pointer;
}

.header-btns {
    display: flex;
    margin-right: 1.5em;
}

#account-type-text {
    font-size: 0.8rem;
    color: #0000008a;
    margin: auto 0.5em;
}

.notes-btn > img {
    margin-left: 0.1em;
    vertical-align: middle;
    height: 1.5em;
    width: auto;   
}

.student-summary {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5em;
    border: 2px solid #0000001a;
    border-radius: 1rem;
    padding: 1em 3em;
    margin: auto 3em 3em auto;
    width: 50em;
    overflow: hidden;
    justify-content: space-around;
    text-align: center;
}

.points-summary > p{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.schedule {
    border: 2px solid #0000001a;
    border-radius: 1rem;
    padding: 1em 0 1em 3em;
    width: 53em;
    min-height: 12em;
    max-height: 25em;
    margin-bottom: 3em;
}

.schedule-item {
    display: grid;
    grid-template-columns: 0.5fr 0.75fr 1fr 1.5fr 5fr;
}

.schedule > a {
    display: inline-block;
}

.activity-description {
    margin-right: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.classes {
    border: 2px solid #0000001a;
    border-radius: 1rem;
    padding: 1em 3em;
    width: 10em;
    min-height: calc(100vh - 10em);
    margin-bottom: 3em;
}

.classes > a {
    display: inline-block;
    padding: 0.5em 0;
}

.donught-chart {
    width: 15em;
    height: 15em;
}

.schedule-list {
    height: auto;
    overflow-y: scroll;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 8em;
}

.class {
    border-bottom: 2px solid #0000001a;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.class :hover {
    color: #0000008f;
}


.classes-box td {
    border: 1px solid black;
    padding: 0.5em;
}